# Files created by the auto* tools
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
intl/
Makefile.in
missing
mkinstalldirs
po/Makefile.in.in
src/pixmaps/flags_xpm/CountryFlags.h
src/pixmaps/flags_xpm/Makefile.am
test-driver

# Files created by building the project
# in a directory other than where the sources live
po/*.gmo

# Files created by building the project
# in the source directory
*.a
*.o
*.swp
.deps
config.h
config.log
config.status
Makefile
po/POTFILES
src/amule
src/amulecmd
src/amuled
src/amulegui
src/ed2k
src/libs/ec/ECGeneratedFiles
src/libs/ec/cpp/EC-timestamp
src/libs/ec/cpp/ECVersion.h
src/libs/ec/cpp/mkFileSum
src/utils/cas/cas
src/utils/scripts/denoiser.sed
src/utils/wxCas/src/wxcas
src/utils/xas/autostart-xas
src/webserver/src/amuleweb
stamp-h1

# Files created by the Visual Studio build process
platforms/Windows/**/Debug30ALC
platforms/Windows/**/Debug
platforms/Windows/**/Debug30
platforms/Windows/**/Release
platforms/Windows/**/Release30
platforms/Windows/**/UpgradeLog.htm
platforms/Windows/*/libs/libGeoIP/GeoIP.c
platforms/Windows/*/libs/libGeoIP/GeoIP.h
platforms/Windows/*/libs/libGeoIP/GeoIP_X.c
*.suo

# Other files created by various editors
.*~
*~
*.orig
**/#*#
.#*

# User files (should go into .git/info/exclude)
Makefile.user
*.vcxproj.user

config/
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/progtest.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/po.m4
m4/nls.m4
po/Makevars.template
po/Makefile.in.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
