*.a
*.o
*.gmo
*.swp
*~
.*~
Makefile
Makefile.in
Makefile.in.in
Makefile.user
.deps
POTFILES


ABOUT-NLS
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intl/
missing
mkinstalldirs

src/amule
src/amulecmd
src/amuled
src/amulegui
src/ed2k
src/libs/ec/ECGeneratedFiles
src/libs/ec/cpp/EC-timestamp
src/libs/ec/cpp/ECVersion.h
src/libs/ec/cpp/mkFileSum
src/pixmaps/flags_xpm/CountryFlags.h
src/pixmaps/flags_xpm/Makefile.am
src/utils/cas/cas
src/utils/scripts/denoiser.sed
src/utils/wxCas/src/wxcas
src/utils/xas/autostart-xas
src/webserver/src/amuleweb
stamp-h1
test-driver

