[Desktop Entry]
Name=aMule
Exec=env GDK_BACKEND=x11 amule %u
Icon=amule
Terminal=false
Type=Application
Categories=Network;P2P;
StartupWMClass=amule
Comment=A client for the eD2k network
Comment[fr]=Un client pour le réseau eD2k
Comment[tr]=eD2k ağı için istemci
Comment[zh_CN]=eD2k网络客户端
Comment[it]=Un client per la rete eD2k
Comment[it_CH]=Un client per la rete eD2k
MimeType=x-scheme-handler/ed2k;
