[Desktop Entry]
Name=aMuleGUI
Exec=amulegui
Icon=org.amule.aMule
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupWMClass=org.amule.aMule.gui
GenericName=Remote Control for P2P File Sharing
GenericName[de]=Fernsteuerung für P2P-Dateifreigabe
GenericName[es]=Control remoto para intercambio P2P
GenericName[fr]=Contrôle à distance pour partage P2P
GenericName[hu]=Távoli vezérlő a P2P fájlmegosztáshoz
GenericName[it]=Terminale remoto per la condivisione P2P
GenericName[it_CH]=Terminale remoto per la condivisione P2P
GenericName[pt_BR]=Controle remoto para compartilhamento P2P
GenericName[tr]=P2P Dosya Paylaşımı için Uzaktan Kumanda
GenericName[zh_CN]=P2P 文件共享远程控制
Comment=aMule remote control
Comment[de]=aMule-Fernsteuerung
Comment[fr]=Contrôle à distance d'aMule
Comment[hu]=aMule távoli vezérlő
Comment[tr]=aMule uzaktan kumandası
Comment[zh_CN]=aMule远程协议
Comment[it]=Terminale remoto per aMule
Comment[it_CH]=Terminale remoto per aMule
Comment[es]=Control remoto de aMule
Comment[pt_BR]=Controle remoto do aMule
Keywords=p2p;peer-to-peer;file-sharing;file-share;remote;amule;ed2k;edonkey;kademlia;emule;kad;
