[Desktop Entry]
Name=aMule
Exec=amule %u
Icon=org.amule.aMule
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupWMClass=org.amule.aMule
GenericName=P2P File Sharing Client
GenericName[es]=Cliente P2P de intercambio de archivos
GenericName[fr]=Client de partage de fichiers P2P
GenericName[it]=Client P2P di condivisione file
GenericName[it_CH]=Client P2P di condivisione file
GenericName[pt_BR]=Cliente P2P de compartilhamento de arquivos
GenericName[tr]=P2P Dosya Paylaşım İstemcisi
GenericName[zh_CN]=P2P 文件共享客户端
Comment=A client for the eD2k network
Comment[fr]=Un client pour le réseau eD2k
Comment[tr]=eD2k ağı için istemci
Comment[zh_CN]=eD2k网络客户端
Comment[it]=Un client per la rete eD2k
Comment[it_CH]=Un client per la rete eD2k
Comment[es]=Un cliente para la red eD2k
Comment[pt_BR]=Um cliente para a rede eD2k
Keywords=p2p;peer-to-peer;file-sharing;file-share;download;upload;ed2k;edonkey;kademlia;emule;kad;
MimeType=x-scheme-handler/ed2k;
