[Desktop Entry]
Encoding=UTF-8
Name=wxCas
Name[xx]=xxwxCasxx
Exec=wxcas
Icon=wxcas.xpm
Type=Application
Categories=Application;Network;
Comment=aMule online statistics
Comment[fr]=Statistiques d'aMule en ligne
Comment[hu]=aMule online statisztikák
