caption {
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;
	color: #003161;
}
th {
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #003161;
}
a:link {
	color: #003161;
	text-decoration: none;
}
a:active {
	color: #003161;
	text-decoration: none;
}
a:visited {
	color: #003161;
	text-decoration: none;
}
a:hover {
	color: #c0c0c0;
	text-decoration: underline;
}
td {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
}
a.navbutton {
	display: block;
	width: 52px;
	height: 50px;
	background-repeat: no-repeat;
}
a.nav-transfer {
	background-image: url(images/transf_0.png);
}
a.nav-transfer:hover {
	background-image: url(images/transf_1.png);
}
a.nav-shared {
	background-image: url(images/shared_0.png);
}
a.nav-shared:hover {
	background-image: url(images/shared_1.png);
}
a.nav-search {
	background-image: url(images/search_0.png);
}
a.nav-search:hover {
	background-image: url(images/search_1.png);
}
a.nav-servers {
	background-image: url(images/edkserv_0.png);
}
a.nav-servers:hover {
	background-image: url(images/edkserv_1.png);
}
a.nav-kad {
	background-image: url(images/sheserv_0.png);
}
a.nav-kad:hover {
	background-image: url(images/sheserv_1.png);
}
a.nav-stats {
	background-image: url(images/stats_0.png);
}
a.nav-stats:hover {
	background-image: url(images/stats_1.png);
}
.texte {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}
.texte-full-name {
	max-width: 0;
	width: 45%;
}
.texte-full-name-upload {
	width: 55%;
}
.texte-full-name-search {
	width: 75%;
}
.texteinv {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
label {
	font-family: "trebuchet ms", sans-serif;
	font-size: 12px;
	font-weight: bold;
}
input {
	border: 1px solid #003161;
	background-color: white;
	font-family: "trebuchet ms", sans-serif;
	font-size: 12px;
	color: #003161;
}
select, option {
	background-color: white;
	font-size: 12px;
	color: #003161;
}
textarea {
	border: 1px solid #003161;
	background-color: #90B6DB;
	font-family: "trebuchet ms", sans-serif;
	font-size: 12px;
	color: white;
}
