<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>amule</string>
	<key>CFBundleGetInfoString</key>
	<string>aMule 2.1.0</string>
	<key>CFBundleIconFile</key>
	<string>amule</string>
	<key>CFBundleIdentifier</key>
	<string>org.amule.aMule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>2.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>aMul</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2003-2006 aMule Project (http://www.amule.org)</string>
	<key>NSMainNibFile</key>
	<string>NSMainNibFile</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
