[Desktop Entry]
Name=aLinkCreator
Exec=alc
Icon=alc
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=aMule ed2k link creator
Comment[de]=ed2k-Linkersteller
Comment[fr]=Créateur de liens ed2k d'aMule
Comment[hu]=ed2k hivatkozás készítő
