[po4a_langs] de es eu fr hu it ru
[po4a_paths] po/manpages.pot $lang:po/manpages-$lang.po
[options] --master-charset UTF-8 --localized-charset UTF-8 --addendum-charset UTF-8
[po4a_alias:man] man opt:"-o untranslated=als,B_untranslated,RB_untranslated,IP,SS_untranslated"
[type: man] amule.1 $lang:amule.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] amulecmd.1 $lang:amulecmd.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] amuled.1 $lang:amuled.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] amulegui.1 $lang:amulegui.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] amuleweb.1 $lang:amuleweb.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ed2k.1 $lang:ed2k.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ../../src/utils/aLinkCreator/docs/alc.1 $lang:../../src/utils/aLinkCreator/docs/alc.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ../../src/utils/aLinkCreator/docs/alcc.1 $lang:../../src/utils/aLinkCreator/docs/alcc.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ../../src/utils/cas/docs/cas.1 $lang:../../src/utils/cas/docs/cas.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ../../src/utils/wxCas/docs/wxcas.1 $lang:../../src/utils/wxCas/docs/wxcas.$lang.1 add_$lang:po/manpages-$lang.add
[type: man] ../../src/utils/xas/docs/xas.1 $lang:../../src/utils/xas/docs/xas.$lang.1 add_$lang:po/manpages-$lang.add
