name: I18n CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  pofiles:
    name: Translation checks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Installing tools
      run: sudo apt-get install gettext

    - name: Checking .po files
      run: |
        for po in po/*.po docs/man/po/*.po; do
          msgfmt --check --statistics --verbose $po
        done
